.container
    display: grid
    
    grid-template-columns: 1
    grid-template-rows: 1
    grid-template-areas: "header" "sub-header" "content""footer"
    
    padding: 0rem
    
body

    margin: 0rem 0rem 0rem 0rem
    

img

    max-width: 100%


button
    background-color: transparent
    border-style: solid
    margin-top: 2rem
    border-radius: .2rem
    height: 2rem

    

    
form 
    border: 2px solid red



    

.header
    grid-area: "header"
    display: flex
    flex-flow: row nowrap
    background-color: white
    width: 100%
    height: 4rem
    padding-left: 0rem
    
    align-items: center
    justify-content: flex-start
    align-content: center
    justify-items: center
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    position: top 0px 
    position: left 0px
    
    &__name
        height: 1rem
        margin: 1em
        color: #00B698

    &__link
        padding: .5rem
        height: 1rem
        margin: 1em
        text-decoration: none
        color: black
    
    &__link:hover
        background: grey
  
        
   
 

.sub-header
    grid-area: "sub-header"
    display: flex
    background-image: url('site_showcase_bg.jpg')
    padding: 1rem 2rem 1rem 2rem
    margin: -0.5rem
    flex-flow: column wrap
    align-items: center
    align-content: center
    justify-items: center
    justify-content: center

    &__title
        margin: 0.1rem
        color: white
        font-size: 2rem
        

        &--green
            color: #00B698

    &__text
        color: white
        font-size: 1rem
        text-align: center

        &--green
            color: #00B698


    &__links
        display: flex
        flex-flow: row wrap
        align-items: center
        align-content: center
        justify-items: center
        justify-content: center
         
        

        &__link
            padding: 1rem 1em 1rem 0rem
           


    
.content
    grid-area: "content"
    display: flex
    flex-flow: row wrap
    justify-content: center
    align-content: center
    padding: 1rem

    &__article
        margin: 1rem


        &__image

            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
       


.contact
    display: flex
    flex-flow: row wrap
    margin: 1.5rem
    justify-content: flex-start

    &-forms
        display: flex
        flex-flow: column wrap
        &__input
            width: 100%
    
    
.footer
    grid-area: "footer"
    display: flex
    flex-flow: column wrap
    background-color: #363636

    &__gamma-features
        background-color: #00B698
        display: flex
        flex-flow: column nowrap
        padding-left: 3rem
        padding-top: 2rem 
        
        &__title
            color: white
        &__logo
           height: 15rem
           width: 15rem

        &__list
            margin: 0rem
            &__item
                display: flex
                flex-flow: row nowrap
                justify-items: center
                align-items: center
                padding: 0rem

                &__tick
                    height: 1rem
                    width: 1rem
                    padding-right: 0.5rem 
                &__text
                    color: white

    &__gamma-bar

        height: 10rem
        display: flex
        flex-flow: row wrap
        align-items: center
        align-content: center
        justify-items: center
        justify-content: center
        font-size: .8rem

        &__link
            text-decoration: none
            color: white
            padding-left: .5rem 

        &__Copyright
            color: white
            justify-self: flex-end
            margin:1rem 
            
                
             
             
             
@media (min-width: 580px )

    .sub-header
        align-items: flex-start
        align-content: flex-start
        justify-items: flex-start
        justify-content: flex-start
    
    .footer__gamma-bar
        height: 5rem

@media (min-width: 900px )

    .header
        &__name
            padding-left: 10rem
        
    .sub-header
        align-items: flex-start
        align-content: flex-start
        justify-items: flex-start
        justify-content: flex-start
        padding: 2rem 
        
        height: 15rem
    
    .footer__gamma-bar
        height: 3rem


@media (min-width: 1400px )

    .sub-header
        align-items: flex-start
        align-content: flex-start
        justify-items: flex-start
        justify-content: flex-start
        padding: 8rem 
        padding-left: 12rem
        height: 15rem
        
    
    .footer
        &__gamma-features
            padding-left: 10rem

        &__gamma-bar
            height: 5rem


    .content 

        margin: 5rem
        flex-flow: row nowrap