extends ../layout

include ../feedback/index

block content
    section.register
      h2 Register
      form(class='register-form' method='POST', action='/register')
        input(class='register-form__input' name='name', type='text', placeholder='name', required='')
        input(class='register-form__input' name='surname', type='text', placeholder='surname', required='')
        input(class='register-form__input' name='email', type='email', placeholder='email', required='')
        input(class='register-form__input' name='password', type='password', placeholder='password', required='')
        input(class='register-form__input' name='passwordConfirm', type='password', placeholder='confirm password', required='')
        button(class='register-form__button' type='submit') Register
      if feedback
        +feedback(feedback, 'warn')
      
      a(href='/login') Login