extends ../layout

include ../feedback/index
include ../spotifySearch/index
include ../artistsPanel/index
include ../albumsList/index

block content
    section.home
      p= `Welcome, ${name}!`
      if feedback
        +feedback(feedback, 'warn')
      form(action='/logout', method='post')
        button(type='submit') Logout
      +spotifySearch
      if(artistList)
        +artistsPanel(artistList)
      if(albums)
        +albumsList(albums)
      